# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
src/serviceAccount.json
lib/serviceAccount.json
functions/src/serviceAccount.json
functions/lib/serviceAccount.json
./src/serviceAccount.json
./lib/serviceAccount.json
